<section>
    <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="fw-bold mb-4">BileMo</h6>
                <p>
                    BileMo is a private api that provide top of the line
                    mobile phones to sell for companies.
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="fw-bold mb-4">Useful links</h6>
                <p>
                    <a href="{{ path('app_documentation') }}" class="text-reset">Documentation</a>
                </p>
                <p>
                    <a href="#summary" class="text-reset">Summary</a>
                </p>
                <p>
                    <a href="#auth" class="text-reset">Authentication</a>
                </p>
                <p>
                    <a href="#pagination" class="text-reset">Pagination</a>
                </p>
                <p>
                    <a href="#products" class="text-reset">Products</a>
                </p>
                <p>
                    <a href="#users" class="text-reset">Users</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="fw-bold mb-4">Contact</h6>
                <p>Email : 
                    <a href="mailto:bilemo@contact.com" class="text-reset">
                        bilemo@contact.com
                    </a>
                </p>        
            </div>
        </div>
    </div>
</section>

<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <span class="text-reset fw-bold">BileMo</span>
</div>