{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Welcome to BileMo API documentation</h1>

    <p class="text-center">
        BileMo is a private api that provide top of the line
        mobile phones to sell for companies.
    </p>

    <article class="rounded bg-light w-75 mt-5 p-4 pt-2 mx-auto border">
        {% include "documentation/_summary.html.twig" %}
    </article>

    <article class="rounded bg-light w-75 mt-5 pb-4 mx-auto border">
        {% include "documentation/_authentication.html.twig" %}
    </article>

    <article class="rounded bg-light w-75 mt-5 pb-4 mx-auto border">
        {% include "documentation/_pagination.html.twig" %}
    </article>

    <article class="rounded bg-light w-75 mt-5 pb-4 mx-auto border">
        {% include "documentation/_products.html.twig" %}
    </article>

    <article class="rounded bg-light w-75 mt-5 pb-4 mx-auto border">
        {% include "documentation/_users.html.twig" %}
    </article>
{% endblock %}
